.inicio {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
}

.inicio h1 {
  font-size: 60px;
  margin-bottom: 10px;
}

.inicio h2 {
  font-size: 30px;
  margin-bottom: 10px;
}

.inicio p {
  font-size: 18px;
  max-width: 600px;
  margin-bottom: 30px;
}

.botones {
  display: flex;
  justify-content: space-between;
  width: 350px;
}

.botones button {
  padding: 12px 25px;
  font-size: 16px;
  cursor: pointer;
}
.registro {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.registro h1 {
  font-size: 50px;
  margin-bottom: 10px;
}

.registro h2 {
  font-size: 30px;
  margin-bottom: 5px;
}

.formulario {
  display: flex;
  flex-direction: column;
  width: 350px;
  gap: 10px;
  text-align: left;
  margin-top: 20px;
}

.formulario input {
  padding: 12px;
  font-size: 16px;
  margin-bottom: 10px;
}

.formulario button {
  padding: 12px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
}